body{
    margin: 0px;
}


#head{
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px #EEEEEE;
    text-align: center;
    padding: 18px 1200px 0px 0px;
    margin-bottom: 10px;
}

#tasks{
    color: #424242;
    font-weight: bolder;
    font-size: xx-large;
}

#list{
    color: #00A5EC;
    font-weight: bolder;
    font-size: xx-large;
}


.main{
    background-color: #F7F7F7;
    padding-bottom: 350px;
}


.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #00A5EC;
    
}

.plus{
    color: white;
    font-weight: bold;
    font-size: 28px;
    padding: 4px 10px 0px 12px;
}

.textp{
    font-weight: 900px;
    font-size: large;
    padding-left: 13px;
    color: #646464;
    font-weight: 500;
}


.add{
    display: flex;
    align-items: center;
    padding: 20px 0px 0px 1150px;
    /* margin: 10px; */
    
}


.box{
    height: 300px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #efe6e6;
    cursor: pointer;
    padding: 10px;
   
}

.heading{
    color: #00A5EC;
    text-align: center;
}

.line{
    text-decoration: line-through;
    color: #b4acac;
    /* font-size: large; */
    
}

input[type=checkbox]{
    height: 23px;
    width: 23px;
    margin: 0 8px 0 0;
    
}

.boxp{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 300px;
    margin-top: 50px;

}

.heading1{
    padding-right: 150px;
}

.heading2{
    padding-right: 140px;
}

.heading3{
    padding-right: 100px;
}

.heading4{
    padding-right: 30px;
}

.heading5{
    padding-right: 150px;
}

.new{
    border: 1px solid #faf6f6;
}

/* .line1{
    font-size: large;
} */

p {
    padding: 0 20px;
	font-size: 18px;
}


.box:hover {
    box-shadow: 0px 0px 10px #8d8888;
    transition: ease 0.2S;
}

.blur{
    filter: blur(2px);
}

.ba{
    background-color: #FFFFFF;
    width: 450px;
    height: 240px;
    position: absolute;
    top: 180px;
    left: 550px;
    /* cursor: pointer; */
    border-radius: 10px;
    border: 1px solid #efe6e6;
}

.t1{
    font-family: 'Karla', sans-serif;
    font-size: larger;
}

.bp{
    display: flex;
    
    
}

.t2{
    font-size: small;
    padding: 10px 0px 0px 260px;
}

.b1{
    border: 1px solid #efe6e6;
    background-color: #F7F7F7;
    height: 50px;
    width: 410px;
    margin: 25px 20px 20px 20px;
    border-radius: 5px;
    
    
    
}

.b2{
    height: 40px;
    width: 160px;
    background-color: #00A5EC;
    text-align: center;
    margin: 0px 0px 0px 270px;
    border-radius: 5px;
}

.t3{
    color: white;
    padding: 9px 15px 0px 0px;
}

.fa-regular {
    font-size: small;
    
    
}

.t4{
    color: #b4acac;
   
}

.fa-sharp{
    color: #b4acac;
}

a {
    text-decoration: none;
    color: black;
}

div  label{
    cursor: pointer;
}

div  input{
    cursor: pointer;
}










